.home-footer {
    background: #04091e;
    padding: 142px 0px;
}
.footer-main {
    display: flex;
}
.footer-h6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 28px;
    font-family: "Poppins", sans-serif;
}

.footer-sec1 {
    margin-left: 70px;
}
.footer-sec1 p {
    line-height: 24px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #777777;
}
.footer-sec2 {
    margin-left: 30px;
}
.sec2-flex {
    display: flex;
}
.sec2-flex2 {
   margin-left: 40px 
}
.sec2-flex1 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    
    
}
.sec2-flex2 ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sec2-flex1 a {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #777777;
    line-height: 25px;
    display: inline-block;
    color: #777;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin-bottom: 13px;
    text-decoration: none;
}
.sec2-flex2 a {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #777777;
    line-height: 25px;
    display: inline-block;
    color: #777;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin-bottom: 13px;
    text-decoration: none;
}
.footer-sec3 {
    margin-left: 100px;
}
.footer-sec3 p {
    line-height: 24px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #777777; 
     
}
.sub-btn {
    background-color: #f3c300;
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    cursor: pointer;
    padding: 4px 11px 0px;
    border: none;
    width: 30px;
}

.footer-input {
    width: 230px;
    height: 38px;
    display: block;
    border: 1px solid #2b3146;
    background: transparent;
}
.footer-sec3 form {
    flex-direction: row !important;
    display: flex;

}
.footer-sec4{
    margin-left: 0px;
}
 .footer-image {
     display: flex;
     list-style: none;
 }
 .footer-image li {
    margin-left: 8px;
 }
 .footer-sec4-h6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 28px;
    font-family: "Poppins", sans-serif;
    margin-left: 40px;  
 }
 .line-breaker {
    width: 100%;
    height: 1px;
    background: #333333;
    margin-top: 30px;
 }

 .pointer {
    color: #777;
    margin-left: 500px;
    margin-top: 20px;
    font-weight: 500;
    font-family: 'Lobster', cursive;
 }