.card {
    display: flex;
}
.card-container {
    display: flex;
}
.card1 {
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 40px;
    height: 220px;
    width: 400px;
    margin-left: 200px;
    margin-top: 100px;
}
.card2 {
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 40px;
    height: 220px;
    width: 400px;
    margin-left: 50px;
    margin-top: 100px;
}


.card-media {
    margin-left: 20px;
}
.card-h4 {
    font-size: 18px;
    line-height: 38px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0px;
    font-family: "Poppins", sans-serif;
}
.testimonial-area {
    background: #f9f9ff;
    height: 500px;
    width: 100%;
    margin-top: 100px;
}